.container{
    border: 1px solid black;
    width: 70%;
    margin: auto;
    height: 500px;
}

.message{
    background-color: grey;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
}

.left{
    float: left;
    clear: both;
}

.right{
    float: right;
    clear: both;
}

.send{
   text-align: center;
}

#messageinp{
    width: 50%;
    padding: 10px;
    margin-top: 10px;
}

